<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/media/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/media/css/github.css">
	<style>
	</style>
    <script type="text/javascript" src="{{ site.baseurl }}/media/js/highlight.pack.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
	<!--[if lte IE 8]>
	<script src="http://a.tbcdn.cn/apps/lottery/00023/index-v3/js/html5.js"></script>
	<![endif]-->
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="home page" class="" href="/index.html">home</a></span>
        <span><a title="tags" class="" href="/tags.html">tags</a></span>
        <span><a title="about" class="" href="/about.html">about me</a></span>        
        <span><a title="blogroll" class="" href="/links.html">links</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9272c2b50466be6c142587c1906d6b07' type='text/javascript'%3E%3C/script%3E"));
        </script>
      </div>
    </div> <!--! end of #container -->
    

  </body>
</html>
